package main

import (
	"context"
	"fmt"
	"io"
	"os"
{{- if .UseGlobal }}

	"github.com/dotcommander/gokart"
{{- end }}

	"github.com/alecthomas/kong"
)
{{- if .UseGlobal }}

const defaultConfig = `# {{.Name}} configuration
# Run: {{.Name}} --help
`
{{- end }}

var version = "dev"

type CLI struct {
	Version kong.VersionFlag `name:"version" help:"Print version information and quit."`
{{- if .IncludeExample }}
	Greet GreetCommand `cmd:"" help:"Greet someone."`
{{- end }}
}
{{- if .IncludeExample }}

type GreetCommand struct {
	Name string `short:"n" default:"World" help:"Name to greet."`
	Loud bool   `short:"l" help:"Greet loudly."`
}

func (c *GreetCommand) Run(kctx *kong.Context) error {
	msg := "Hello, " + c.Name
	if c.Loud {
		msg = "HELLO, " + c.Name + "!"
	}
	_, err := fmt.Fprintln(kctx.Stdout, msg)
	return err
}
{{- end }}

func run(ctx context.Context, args []string, stdout, stderr io.Writer) error {
	var cli CLI
	parser, err := kong.New(&cli, kong.Name("{{.Name}}"), kong.Description("{{.Name}} CLI"), kong.Vars{"version": version}, kong.Writers(stdout, stderr), kong.UsageOnError(), kong.BindTo(ctx, (*context.Context)(nil)))
	if err != nil {
		return err
	}
	if len(args) == 0 {
		usage, err := kong.Trace(parser, args)
		if err != nil {
			return err
		}
		return usage.PrintUsage(false)
	}
	parsed, err := parser.Parse(args)
	if err != nil {
		return err
	}
{{- if .UseGlobal }}
	if err := gokart.EnsureConfigDir("{{.Name}}", []byte(defaultConfig)); err != nil {
		return err
	}
{{- end }}
	return parsed.Run()
}

func main() {
	if err := run(context.Background(), os.Args[1:], os.Stdout, os.Stderr); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}
