package main

import (
	"os"
{{- if .UseGlobal }}

	"github.com/dotcommander/gokart/fs"
{{- end }}

	"github.com/dotcommander/gokart/cli"
	{{- if or .UseGlobal .IncludeExample }}
	"github.com/spf13/cobra"
	{{- end }}
)
{{- if .UseGlobal }}

const defaultConfig = `# {{.Name}} configuration
# Run: {{.Name}} --help
`
{{- end }}

// version is set via ldflags: -X main.version=v1.0.0
var version = "dev"

func main() {
	app := cli.NewApp("{{.Name}}", version).
		WithDescription("{{.Name}} CLI")
{{- if .UseGlobal }}

	// Chain with existing PersistentPreRunE (config init)
	origPreRun := app.Root().PersistentPreRunE
	app.Root().PersistentPreRunE = func(cmd *cobra.Command, args []string) error {
		if origPreRun != nil {
			if err := origPreRun(cmd, args); err != nil {
				return err
			}
		}
		return fs.EnsureConfigDir("{{.Name}}", []byte(defaultConfig))
	}
{{- end }}

	{{- if .IncludeExample }}
	greetCmd := cli.Command("greet", "Greet someone", func(cmd *cobra.Command, args []string) error {
		name, _ := cmd.Flags().GetString("name")
		loud, _ := cmd.Flags().GetBool("loud")

		msg := "Hello, " + name
		if loud {
			msg = "HELLO, " + name + "!"
		}

		cli.Success("%s", msg)
		return nil
	})
	greetCmd.Flags().StringP("name", "n", "World", "Name to greet")
	greetCmd.Flags().BoolP("loud", "l", false, "Greet loudly")

	app.AddCommand(greetCmd)
	{{- end }}

	if err := app.Run(); err != nil {
		os.Exit(1)
	}
}
