module {{.Module}}

go {{.GoVersion}}

require (
	github.com/dotcommander/gokart/cli {{.GokartCLIVersion}}
{{- if .UseSQLite }}
	github.com/dotcommander/gokart/sqlite {{.GokartSQLiteVersion}}
{{- end }}
{{- if .UsePostgres }}
	github.com/dotcommander/gokart/postgres {{.GokartPostgresVersion}}
	github.com/jackc/pgx/v5 {{.PGXVersion}}
{{- end }}
{{- if .UseAI }}
	github.com/dotcommander/gokart/ai {{.GokartAIVersion}}
	github.com/openai/openai-go/v3 {{.OpenAIVersion}}
{{- end }}
{{- if or .UseSQLite .UsePostgres .UseAI }}
	github.com/spf13/viper {{.ViperVersion}}
{{- end }}
	github.com/spf13/cobra {{.CobraVersion}}
{{- if or .UseSQLite .UsePostgres }}
	github.com/pressly/goose/v3 {{.GooseVersion}}
{{- end }}
)
{{- if or .UseSQLite .UsePostgres }}

tool github.com/pressly/goose/v3/cmd/goose
{{- end }}
