module {{.Module}}

go {{.GoVersion}}

require (
	github.com/dotcommander/gokart/cli v0.2.0
{{- if .UseSQLite }}
	github.com/dotcommander/gokart/sqlite v0.2.0
{{- end }}
{{- if .UsePostgres }}
	github.com/dotcommander/gokart/postgres v0.2.0
	github.com/jackc/pgx/v5 v5.8.0
{{- end }}
{{- if .UseAI }}
	github.com/dotcommander/gokart/ai v0.2.0
	github.com/openai/openai-go/v3 v3.16.0
{{- end }}
	github.com/spf13/cobra v1.10.2
	github.com/spf13/viper v1.21.0
)
{{- if or .UseSQLite .UsePostgres }}

tool github.com/pressly/goose/v3/cmd/goose
{{- end }}
